.container {
  width: 100%; /* Faz o container ocupar toda a largura da página */
  position: relative; /* Permite o posicionamento absoluto dos botões */
  overflow: hidden; /* Oculta o conteúdo que ultrapassa o container */
}

.carousel {
  position: relative; 
  width: 100%;
  height: 600px; /* Altura do carrossel */
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  width: 50px; /* Ajuste o tamanho do botão */
  height: 100%; /* Ajuste o tamanho do botão */
  background-color: rgba(0, 0, 0, 0);
  color: red;
  border: none;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
  transform: translateY(-50%);
}

.prev {
  left: 0.1px;
}

.next {
  right: 0.1px;
}
@media (max-width: 360px) {
  .carousel {
    height: 155px; /* Ajusta a altura do carrossel para telas muito pequenas */
  }

  .carousel-button {
    width: 30px; /* Ajuste ainda mais o tamanho do botão */
    height: 30px; /* Ajuste ainda mais o tamanho do botão */
    font-size: 16px; /* Ajuste ainda mais o tamanho da fonte */
  }

  .prev {
    left: 5px; /* Margem reduzida para telas muito pequenas */
  }

  .next {
    right: 5px; /* Margem reduzida para telas muito pequenas */
  }
}

@media (max-width: 390px) {
  .carousel {
    height: 155px; /* Ajusta a altura do carrossel para telas muito pequenas */
  }

  .carousel-button {
    width: 30px; /* Ajuste ainda mais o tamanho do botão */
    height: 30px; /* Ajuste ainda mais o tamanho do botão */
    font-size: 16px; /* Ajuste ainda mais o tamanho da fonte */
  }

  .prev {
    left: 5px; /* Margem reduzida para telas muito pequenas */
  }

  .next {
    right: 5px; /* Margem reduzida para telas muito pequenas */
  }
}
@media (max-width: 450px){
  .carousel {
    position: relative;
    width: 100%;
    height: 150px;
  }
}
@media (max-width: 550px){
  .carousel {
    position: relative;
    width: 100%;
    height: 150px;
  }
}