.App {
  text-align: center;
  padding: 20px;
}

.group-stage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; /* Adiciona quebra de linha para tabelas em telas pequenas */
}

.group {
  padding: 20px;
  border-radius: 8px;
  width: 433px; /* Define uma largura fixa para as tabelas */
}

table .grupo1 {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}

th {
  background-color: red;
  color: white;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  font-size: 1rem;
  color: #555;
}
