.App {
    text-align: center;
    padding: 20px;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th {
    padding: 10px;
    text-align: center;
  }
  .td1{
    background-color: rgba(0, 0, 0, 0.1) ;
    border: 1px solid black;
  }
  td{
    border: 1px solid black;
  }
  h2 {
    margin-top: 40px;
    color: #555;
  }
  