/* estilos gerais */
.App-info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.traco {
    background-color: red;
    height: 35px;
    width: 100%; /* Garante que a largura é suficiente para ser visível */
}

.linha {
    margin-top: 45px;
    background-color: red;
    height: 1px;
    width: 100%; /* Garante que a largura da linha é suficiente */
}

.grosso {
    font-weight: bold;
    width: 1160px;
}

.escrito-normal {
    text-align: center; /* Centraliza o texto */
    width: 950px;
    margin: 0 20px; /* Adiciona margens laterais para melhor espaçamento */
}

.container-vermelho {
    background-color: red;
    max-width: 1300px; /* Define uma largura máxima */
    margin: 30px auto; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona espaçamento interno */
    display: flex;
    flex-direction: column; /* Alinha os itens na coluna */
    text-align: start;
    color: white; /* Define a cor do texto para contraste */
}

.titulozin {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.dps-titulo {
    text-align: left; /* Alinha o texto à esquerda dentro da container-vermelho */
    line-height: 1.6; /* Melhora a legibilidade do texto */
    margin-bottom: 20px; /* Adiciona espaço abaixo do parágrafo */
}

.fotos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    flex-wrap: wrap; /* Permite que as imagens se movam para a linha seguinte se necessário */
}

.fotos img {
    height: 384px;
    width: 285px;
    object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorção */
}

/* Responsividade */
@media (max-width: 430px) {
    .App-info {
        margin-left: 53px; /* Reduz o espaço lateral */
    }

    .grosso, .escrito-normal {
        text-align: center;
        width: 100%; /* Ajusta a largura para 100% em telas menores */
    }

    .container-vermelho {
        padding: 10px; /* Reduz o padding interno */
    }

    .titulozin {
        font-size: 20px; /* Ajusta o tamanho da fonte do título */
        margin-bottom: 15px; /* Reduz o espaço abaixo do título */
    }

    .dps-titulo {
        font-size: 16px; /* Ajusta o tamanho da fonte do parágrafo */
        margin-bottom: 15px; /* Reduz o espaço abaixo do parágrafo */
    }
    .fotos{
        display: flex;
        flex-direction: column;
    }

    .fotos img {
        height: auto; /* Ajusta a altura da imagem para auto */
        width: 100%; /* Ajusta a largura para 100% em telas menores */
        max-width: 300px; /* Define um valor máximo para a largura */
    }
}
@media (max-width: 500px) {
    .App-info {
        margin-left: 5px; /* Reduz o espaço lateral */
    }

    .grosso, .escrito-normal {
        text-align: center;
        width: 100%; /* Ajusta a largura para 100% em telas menores */
    }

    .container-vermelho {
        padding: 10px; /* Reduz o padding interno */
    }

    .titulozin {
        font-size: 20px; /* Ajusta o tamanho da fonte do título */
        margin-bottom: 15px; /* Reduz o espaço abaixo do título */
    }

    .dps-titulo {
        font-size: 16px; /* Ajusta o tamanho da fonte do parágrafo */
        margin-bottom: 15px; /* Reduz o espaço abaixo do parágrafo */
    }
    .fotos{
        display: flex;
        flex-direction: column;
    }

    .fotos img {
        height: auto; /* Ajusta a altura da imagem para auto */
        width: 100%; /* Ajusta a largura para 100% em telas menores */
        max-width: 300px; /* Define um valor máximo para a largura */
    }
}
@media (max-width: 550px) {
    .App-info {
        margin-left: 53px; /* Reduz o espaço lateral */
    }

    .grosso, .escrito-normal {
        text-align: center;
        width: 100%; /* Ajusta a largura para 100% em telas menores */
    }

    .container-vermelho {
        padding: 10px; /* Reduz o padding interno */
    }

    .titulozin {
        font-size: 20px; /* Ajusta o tamanho da fonte do título */
        margin-bottom: 15px; /* Reduz o espaço abaixo do título */
    }

    .dps-titulo {
        font-size: 16px; /* Ajusta o tamanho da fonte do parágrafo */
        margin-bottom: 15px; /* Reduz o espaço abaixo do parágrafo */
    }
    .fotos{
        display: flex;
        flex-direction: column;
    }

    .fotos img {
        height: auto; /* Ajusta a altura da imagem para auto */
        width: 100%; /* Ajusta a largura para 100% em telas menores */
        max-width: 300px; /* Define um valor máximo para a largura */
    }
}
@media (max-width: 1050px) {
    .App-info {
        margin-left: 53px; /* Reduz o espaço lateral */
    }

    .grosso, .escrito-normal {
        text-align: center;
        width: 100%; /* Ajusta a largura para 100% em telas menores */
    }

    .container-vermelho {
        padding: 10px; /* Reduz o padding interno */
    }

    .titulozin {
        font-size: 20px; /* Ajusta o tamanho da fonte do título */
        margin-bottom: 15px; /* Reduz o espaço abaixo do título */
    }

    .dps-titulo {
        font-size: 16px; /* Ajusta o tamanho da fonte do parágrafo */
        margin-bottom: 15px; /* Reduz o espaço abaixo do parágrafo */
    }
    .fotos{
        display: flex;
        flex-direction: row;
    }

    .fotos img {
        height: auto; /* Ajusta a altura da imagem para auto */
        width: 100%; /* Ajusta a largura para 100% em telas menores */
        max-width: 300px; /* Define um valor máximo para a largura */
    }
}